@model ApplicationUser
@inject UserManager<IdentityUser> UserManager

<div class="row">
	<div class="col-lg-6 mx-auto rounded border p-4 form-card">
		<h2 class="text-center mb-3 form-title">User Details</h2>
		<hr />
		
		<div class="row mb-2">
			<div class="col-sm-4">First Name</div>
			<div class="col-sm-8">@Model.FirstName</div>
		</div>
		<div class="row mb-2">
			<div class="col-sm-4">Last Name</div>
			<div class="col-sm-8">@Model.LastName</div>
		</div>
		<div class="row mb-2">
			<div class="col-sm-4">Email</div>
			<div class="col-sm-8">@Model.Email</div>
		</div>
		<div class="row mb-2">
			<div class="col-sm-4">Phone Number</div>
			<div class="col-sm-8">@Model.PhoneNumber</div>
		</div>
		<div class="row mb-2">
			<div class="col-sm-4">City</div>
			<div class="col-sm-8">@Model.City</div>
		</div>
		<div class="row mb-2">
			<div class="col-sm-4">Address</div>
			<div class="col-sm-8">@Model.Address</div>
		</div>
		<div class="row mb-2">
			<div class="col-sm-4">Role</div>
			<div class="col-sm-8">
				@{
					var userRoles = ViewBag.Roles;
					var roles = String.Join(", ", userRoles);

					var color = "text-bg-secondary";
					if (roles.Contains(SD.Role_Admin))
					{
						color = "text-bg-danger";
					}
					else if (roles.Contains(SD.Role_Seller))
					{
						color = "text-bg-warning";
					}
					else if (roles.Contains(SD.Role_Customer))
					{
						color = "text-bg-info";
					}

					<span class="badge @color">@roles</span>
					<button class="btn btn-link text-decoration-none" type="button" data-bs-toggle="modal" data-bs-target="#roleModal">
						Edit
					</button>
				}
			</div>
		</div>
		<div class="row mb-2">
			<div class="col-sm-4">Created At</div>
			<div class="col-sm-8">@Model.CreatedAt</div>
		</div>

		<hr />

		<div>
			<a asp-controller="User" asp-action="Index" class="btn btn-primary">Back</a>

			<a class="btn btn-danger delete-btn" asp-controller="User" asp-action="DeleteUser"
			   asp-route-id="@Model.Id">
				 Delete
			</a>
		</div>
	</div>
</div>



<div class="modal fade" id="roleModal" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5">Edit User Role</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form method="get" asp-controller="User" asp-action="EditRole">
					<input type="hidden" value="@Model.Id" name="id"/>
					<label>Select user role</label>
					<select class="form-select mb-2" name="newRole" asp-items="@ViewBag.SelectItems">

					</select>
					<button type="submit" class="btn btn-primary">Save</button>
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				</form>
			</div>
		</div>
	</div>
</div>


@section Scripts {
	<script>
		document.addEventListener("DOMContentLoaded", function () {

			document.querySelectorAll(".delete-btn").forEach(btn => {

				btn.addEventListener("click", function (e) {
					e.preventDefault(); // stop navigation

					const url = this.getAttribute("href");

					Swal.fire({
						title: 'Are you sure?',
						text: "You won't be able to revert this!",
						icon: 'warning',
						showCancelButton: true,
						confirmButtonColor: '#d33',
						cancelButtonColor: '#3085d6',
						confirmButtonText: 'Yes, delete it!',
						cancelButtonText: 'Cancel'
					}).then((result) => {
						if (result.isConfirmed) {
							window.location.href = url; // redirect after confirm
						}
					});
				});

			});

		});
	</script>
}