@model List<Product>

@{
    ViewData["Title"] = "Home Page";
	ViewData["HomePage"] = true;
}

<div style="background-color: #08618d;">
	<div class="container text-white py-5">
		<div class="row align-items-center g-5">
			<div class="col-md-6">
				<h1 class="mb-5 display-2"><strong>Welcome to Our E-commerce Store</strong></h1>
				<p>
					Discover a wide range of products at unbeatable prices. 
					Shop now and experience seamless online shopping with fast delivery and excellent customer service.
				</p>
			</div>
			<div class="col-md-6 text-center">
				<img src="~/images/hero.png" class="img-fluid"/>
			</div>
		</div>
	</div>
</div>

<div class="bg-light">
	<div class="container py-4">
		<h2 class="pb-4 text-center form-title">Recent Products</h2>
		<div class="row mb-5 g-3">
			@foreach(var product in Model)
			{
				<div class="col-lg-3 col-md-6">
					<div class="rounded border shadow p-3 text-center h-100 product-card">
						<img src="~/images/products/@product.ImageUrl" class="img-fluid"
						style="height: 180px; object-fit: contain"/>
						<hr />
						<h5 class="py-2">@product.Name</h5>
						<p>
							Brand: @product.Brand.Name, Category: @product.Category.Name 
						</p>
						<h4 class="mb-3">@product.Price.ToString("C")</h4>
						<a class="btn btn-primary mb-2" asp-controller="Store" asp-action="Details"
						 asp-route-id = "@product.Id" role="button">Details</a>
						<button type="button" class="btn btn-success mb-2" onclick="addToCart(this , @product.Id)">
							Add to Cart <i class="bi bi-cart4"></i>
						</button>
					</div>
				</div>
			}
		</div>
	</div>
</div>


<style>
		.product-card:hover {
		transform: scale(1.03);
		transition: transform 0.3s;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	}
</style>